spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD:admin}
    url: jdbc:mysql://${MYSQL_HOST:49.232.245.147}:${MYSQL_PORT:3306}/${MYSQL_UPMS_DB:campus_upms_db}?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowMultiQueries=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true&allowPublicKeyRetrieval=true

security:
  encode-key: 'admin123'
  ignore-clients:
    - test
