application: seata-server
server-addr: nacos:8848
group: SEATA_GROUP
namespace:
cluster: default
store:
  # support: file 、 db 、 redis
  # 改为 db 模式
  mode: db
  db:
    datasource: druid
    db-type: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://49.232.245.147:3306/seata?rewriteBatchedStatements=true&serverTimezone=Asia/Shanghai&useSSL=false
    user: root
    password: ${MYSQL_PASSWORD}
    min-conn: 5
    max-conn: 100
    global-table: global_table
    branch-table: branch_table
    lock-table: lock_table
    distributed-lock-table: distributed_lock
    query-limit: 100
    max-wait: 5000
#  server:
#    service-port: 8091 #If not configured, the default is '${server.port} + 1000'
security:
  secretKey: SeataSecretKey0c382ef121d778043159209298fd40bf3850a017
  tokenValidityInMilliseconds: 1800000
  ignore:
    urls: /,/**/*.css,/**/*.js,/**/*.html,/**/*.map,/**/*.svg,/**/*.png,/**/*.jpeg,/**/*.ico,/api/v1/auth/login
