<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finance.Mapper.PaymentAccountMapper">
    <resultMap id="BaseResultMap" type="com.example.finance.entity.PaymentAccount">
        <id property="id" column="id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountCode" column="account_code"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactEmail" column="contact_email"/>
        <result property="bankAccountNumber" column="bank_account_number"/>
        <result property="bankAccountName" column="bank_account_name"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankBranch" column="bank_branch"/>
        <result property="lastPaymentTime" column="last_payment_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="deleteAt" column="delete_at"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, account_name, account_code, contact_phone, contact_email,
        bank_account_number, bank_account_name, bank_name, bank_branch,
        last_payment_time, status, remark, create_at, update_at, delete_at
    </sql>
</mapper>